body {
    font-family: 'Lobster Two', cursive;
    margin: 50px 25px;
}

a {
    color: #2D2040;
}

a:hover {
    color: #931199;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    background: #B582FF;
    padding: 20px 30px;
}

header h1 {
    color: #5B417F;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #E2CEFF;
}
